<tr id="reservation-<%= reservation.id %>">
    <td><%= reservation.book.name %></td>
    <td><%= reservation.book.author %></td>
    <td><%= reservation.book.code %></td>
    <td><%= link_to 'Show', reservation.book, remote: true %></td>
    <td><%= link_to 'Buy', remote: true %></td>
    <td><%= link_to 'Remove', remove_reservation_path(id: reservation.id), remote: true, method: :delete %></td>
</tr> 