<tr id="reservation-<%= reservation.id %>">
    <td><%= reservation.user_id %></td>
    <td><%= reservation.book_id %></td>
    <td><%= link_to 'Show', reservation, remote: true %></td>
    <td><%= link_to 'Edit', edit_reservation_path(reservation), remote: true %></td>
    <td><%= link_to 'Remove', reservation, data: { remote: true, confirm: "Are you sure?" }, method: :delete %></td>
</tr> 